	<div   (scroll)="onWindowScroll()">
				<footer class="footer-box">
					<div class="inside-footer">
						<h5>&#169; 2019 Wahyu Fitrahirobbi suit. All rights reserved.</h5>
					</div>
				</footer>
			</div>


  <div id="banner" class="newsletter-box"  >
            <div>
                <h6 class="h6-box">
                   
                  <!--   <a onClick={(e) => this.handleClick(e)} style=color: 'white' href="#">
                        X
                    </a>
 -->                </h6>
                <h2>Get latest updates in web technologies</h2>
                <h5>
                    I write articles related to web technologies, such as design trends, development tools,
                    UI/UX case studies and reviews, and more. Sign up to my newsletter to get them all.
                </h5>
                <form class="form-input-box">
                    <input class="input" type="email" name="email" placeholder="Email address" />
                    <button class="button-submit" type="submit">
                        Count me in!
                    </button>
                </form>
            </div>
        </div>
    <!-- </div> -->