<!-- testing --> 
<!-- <div> -->
<div class="navbar-fixed">
    <div class="" [ngClass]="!status ? 'navbar-box fixed-nav' : ''" >
        <div class="navbar-box" [ngClass]="!status ? '' : 'slideOut'">
            <div style="width: 465px;" >
                <p class="p">By accessing and using this website, you acknowledge that you have read and understand our <a href="#"> Cookie Policy, Privacy Policy,</a> and our <a href="#"> Terms of Service.</a> </p>
            </div>
            <div style="width: auto;">
                <button (click)="clickEvent()" 


                class="button">Got it</button>
            </div>
        </div>
    <!-- </div> -->


</div>
      <div id="navbar-header" [ngClass]="!status ? 'slideInHeader' : 'slideOutHeader'">
<!-- </div> -->
<div class="img-work-desk">
    <div class="item" style="padding: 15px; padding-top: 4em;">
        <div class="logo-header">
        </div>
    </div>
    <div class="flex-center layer">
        <div>
            <div>
                <h1>Hello! I'm Wahyu fitrahirobbi suit</h1>
                <h1>
								<b>Consult, Design and Develop Website</b>
							</h1>
                <h3 style="fontSize: 18px">
								Have something great in mind? Feel free to contact me. <br />
								I'll help you to make it happen.
							</h3>
                <button class="button-contact">

                    <b>LET'S MAKE CONTACT</b>
                </button>
            </div>
        </div>
    </div>
</div>
</div>